{% extends 'baseYC.html' %}
{% load crispy_forms_filters %}

{% block content %}
<div class="row">
<div class="col-sm-6">
	<a href="https://heactivityscheduler.herokuapp.com/YourAccount/EditInformation/AddCourse/" class="btn btn-primary" role="button" style="margin-bottom: 10px">+ Add Course</a> <br>
	<a href="https://heactivityscheduler.herokuapp.com/YourAccount/EditInformation/AddTeacher/" class="btn btn-primary" role="button" style="margin-bottom: 10px">+ Add Teacher</a><br>
	<a href="https://heactivityscheduler.herokuapp.com/YourAccount/EditInformation/AddRooms/" class="btn btn-primary" role="button" style="margin-bottom: 10px">+ Add Room</a> <br>
</div>

<div class="col-sm-3">
	<a href="https://heactivityscheduler.herokuapp.com/YourAccount/EditInformation/ViewCourses/" class="btn btn-primary" role="button" style="margin-bottom: 10px">+ Update/Delete Course</a> <br>
	<a href="https://heactivityscheduler.herokuapp.com/YourAccount/EditInformation/ViewTeacher/" class="btn btn-primary" role="button" style="margin-bottom: 10px">+ Update/Delete Teacher</a> <br>
	<a href="https://heactivityscheduler.herokuapp.com/YourAccount/EditInformation/ViewRoom/" class="btn btn-primary" role="button" style="margin-bottom: 10px">+ Update Rooms</a>
</div>
</div>
{% endblock %}

