{% extends 'base.html' %}

{% block content %}
    <h2 style="align-self: center">Contact us!</h2>
    <div class="row">
    <div class="col-sm-4">
        <h4>Phone Number:</h4>
        <p>090078601</p>
    </div>
    <div class="col-sm-4">
        <h4>Email Address</h4>
        <p>email@email.com</p>
    </div>
    <div class="col-sm-4">
        <h4>Address</h4>
        <p>UET</p>
    </div>
    </div>
<div class="container-fluid">
<h3 style="margin: 8%; font-family: Roboto; font-weight: bold">Register on our website to access full features!</h3>
</div>


{% endblock %}