{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class = "col-sm-6">
    <img alt="Timetable"
         src="calendar-icon-png-image-download-schedule-ico-11563017254yxhwdnedyd.png">
    </div>
    <div class = "col-sm-3">
    <h3 style="font-family: Roboto">An efficient and fast
        solution to your
        timetabling problems!</h3>
    </div>
</div>
<div class="container-fluid">
<h3 style="margin: 8%; font-family: Roboto; font-weight: bold">Register on our website to access full features!</h3>
</div>


{% endblock %}