<!DOCTYPE html>
<html lang="en">
<head>
  <title>Activity Scheduler</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


<div class="jumbotron" style="background-color: #557A95">
  <div class="container text-center" style="background-color: #557A95; font-family: Laila; color: white">
    <h1>Activity Scheduler</h1>      
    <p>A simple solution</p>
  </div>
</div>

<nav class="navbar navbar-collapse" style="background-color: #E8E8E8; font-family: Roboto; color: white">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img src="https://www.freeiconspng.com/uploads/schedule-icon-6.png" class="img-responsive" alt="logo" height="35" width="35" style="vertical-align: middle; margin-top: 6px" >
    </div>
  
      <ul class="nav navbar-nav navbar-right" style="color: white">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container text-center" style="font-family: Laila; color: black">
    <h2>Test our tool</h2>      
  </div>



<div class="container">
	<div class="row">
	  <form role="form">
        <div class=".col-sm-6">
        	<h4>Course</h4>
            <label for="courseName">Name</label>
            <input type="text" class="form-control" id="courseName" placeholder="Enter Name">
        </div>
        
        <div class="clearfix"></div>
        <div class=".col-sm-6">
            <label for="creditHours">Credit Hours</label>
            <input type="text" class="form-control" id="creditHours" placeholder="Enter credit hours">
        </div>
		<button type="button" class="collapsible" style="background-color: #7395AE: margin-top:10px; ">+ Add new Course</button>
		<div class="content">
		</div>
    <br /><br />
	</div>
</div>


<div class="container">
	<div class="row">
	  <form role="form">
        <div class=".col-sm-6">
        	<h4>Teacher</h4>
            <label for="teacherName">Name</label>
            <input type="text" class="form-control" id="teacherName" placeholder="Enter Name">
        </div>
        
        <div class="clearfix"></div>
        <div class=".col-sm-6">
             <label for="CourseTeacher">Course </label>
            <input type="CourseTeacher" class="form-control" id="CourseTeacher" placeholder="Enter course name taught by teacher">
        </div>
		 <button type="button" class="collapsible" style="background-color: #7395AE: margin-top: 10px; ">+ Add new teacher</button>
		<div class="content">
		</div>
    <br /><br />
	</div>
</div>



<div class="container text-center" style="font-family: Laila; color: black; margin-bottom: 15px">
    <button type="generate" class="btn btn-default">Generate Timetable!</button>
  </div>





<div
	class=container-fluid id=footer-bottom style="background-color:#7395AE; color: white">
	<img id=footer-logo src=https://www.freeiconspng.com/uploads/schedule-icon-6.png alt= logo class = img-responsive width = 30 height = 30 style="margin-top: 5px">
	<p>Activity Scheduler &copy; 2020. All Rights Reserved.</p></div>

  
  
</footer>
</body>
</html>