<!DOCTYPE html>
<html lang="en">


<head>
  <title>Activity Scheduler</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body class="d-flex flex-column" style="min-height: 100vh">
 <main class="flex-fill">

	<div class="jumbotron" style="background-color: #557A95">
  <div class="container text-center" style="background-color: #557A95; font-family: Laila; color: white">
    <h1>Activity Scheduler</h1>
    <p>A simple solution</p>
  </div>
</div>


<nav class="navbar navbar-collapse" style="background-color: #E8E8E8; font-family: Roboto; color: white">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="https://www.freeiconspng.com/uploads/schedule-icon-6.png" class="img-responsive" alt="logo" height="35" width="35" style="vertical-align: middle; margin-top: 6px" >
    </div>
      <ul class="nav navbar-nav navbar-right" style="color: white">
        <li><a href="http://127.0.0.1:8000/YourAccount/Help/">Help</a></li>
        <li><a href="http://127.0.0.1:8000/YourAccount/AddClass/">Add New Class</a></li>
        <li><a href="http://127.0.0.1:8000/YourAccount/mastertimetable/">Master Timetable</a></li>
        <li><a href="http://127.0.0.1:8000/YourAccount/Logout/">Logout</a></li>
      </ul>
    </div>
</nav>
<div class = row>
<div id="sidenav" class="column left sidenav" style="width: fit-content; margin-bottom: 3%">
      <p><a href="http://127.0.0.1:8000/YourAccount/ViewClass" style="font-size: 20px; margin: 30px;">Your Table</a></p>
        <hr class="clearfix w-100 d-md-none pb-3">
      <p><a href="http://127.0.0.1:8000/YourAccount/EditInformation" style="font-size: 20px; margin-left: 30px;">Edit Information</a></p>
</div>

<div class="column right container-fluid" style="width:fit-content; margin-top: -100px; margin-bottom: 20px">
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" style="margin-left: 30%">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% block content %}
    {% endblock %}
</div>
</div>
</main>




<footer id = footer class="page-footer font-small pt-4" style="background-color: lightsteelblue">

  <div class="container-fluid text-center text-md-left">
      <hr class="clearfix w-100 d-md-none pb-3">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-4">
          <div class="col-md-2 mb-md-0 mb-3">
             <h5 class="text-uppercase" style="font-family: Roboto">Address</h5>
            <p style="font-family: Roboto">XCVBNM GHJKL GHJKL
                GSGFSF.</p>
           </div>
           <div class="col-md-4 mb-md-0 mb-3">
               <div id="map-container-google-11" class="z-depth-1-half map-container-6">
        <iframe src="https://maps.google.com/maps?q=new%20delphi&t=&z=13&ie=UTF8&iwloc=&output=embed"
          frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
           </div>
      </div>


      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase" style="font-family: Roboto">Site Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="http://127.0.0.1:8000/Register/" style="font-family: Roboto">Register</a>
          </li>
          <li>
            <a href="http://127.0.0.1:8000/Login/" style="font-family: Roboto">Login</a>
          </li>
          <li>
            <a href="http://127.0.0.1:8000/Contact/" style="font-family: Roboto">Contact</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase" style="font-family: Roboto">About Us</h5>
        <p style="font-family: Roboto">
            DV CFFSHBSJFNJSDNJSIDV
            SDFSDVSFDVSFFSvsFVS
            SDFBVSFBSFB
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3" style="margin-top: 5px; background-color: white">© 2020 Copyright:
    <a href="https://ActivityScheduler.com/"> activityscheduler.com</a>
  </div>
</footer>
</body>
</html>
